@import '../../shared/styles/variables';

.page-header {
  background-color: black;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
  padding: 0 2rem;
  &-links-container {
    display: flex;
    align-items: center;
    width: 50%;
    &-link {
      color: white;
      font-weight: 700;
      text-decoration: none;
      transition-duration: 0.3s;
      margin: 0 1rem;
      &:hover {
        color: #f4d683;
      }
    }
  }
  &-auth-section {
    display: flex;
    align-items: center;
    justify-content: center;
    &-link {
      text-decoration: none;
      all: unset;
      color: white;
      cursor: pointer;
      font-weight: 700;
      width: fit-content;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .insta-logo-container {
        margin-right: 1rem;
        width: 22px;
      }
    }
  }
  .input-search-container {
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    input {
      width: 250px;
      height: 2rem;
      border-radius: 3px;
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 1rem;

      font-size: 12px;
      font-weight: 400;

      &::placeholder {
        font-size: 12px;
      }
    }
  }
}
